body {
    font-family: 'Roboto', sans-serif;
    background-color: grey;
    color: white;
    margin: 0;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #e1e1e1;
    text-decoration: none;
}
a:active {
    color: #e1e1e1;
    text-decoration: none;
}
/**
ul.ull {
    list-style-type: circle;
}
**/
ul.ull {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li.ull {
    float: left;
    //margin-top: 8;
    //margin-bottom: 8;
    display: block;
}
li.ull a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.ull a:hover {
    background-color: #111;
}
.doc-content {
    margin: 8;
}



li#dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #111}

#dropdown:hover .dropdown-content {
    display: block;
}
